

<div class="well clearfix" *ngIf="!edit">
<div class="company_div">
    <div class="company_info" >
        <h4 class="list-group-item-heading">{{ company.name }}</h4> <!---li yap-->
        <p class="list-group-item-text"><b>ID:</b> {{ company.id}}</p>
        <p class="list-group-item-text"><b>Address:</b> {{ company.address}}</p>
        <p class="list-group-item-text"><b>City:</b> {{ company.city}}</p>
        <p class="list-group-item-text"><b>Country:</b> {{ company.country}}</p>
        <p class="list-group-item-text"><b>Email:</b> {{ company.email}}</p>
        <p class="list-group-item-text"><b>Phone Number:</b> {{ company.phone}}</p>
    </div>
    <div class="company_buttons">
        <input type="button" value="Edit" class="btn btn-primary " (click)="edit = !edit">
        <input type="button" value="Delete" class="btn btn-primary " (click)="initiateDelete(company._id)">
    </div>
</div>
</div>
<a href="#" class="list-group-item clearfix" *ngIf="edit">
    <ng-form class="form-horizontal " (submit)="updateCompany()">
        <div class="col-xs-5 form-group">
            <h5>Name</h5><input type="text" [(ngModel)]="company.name" name="name" class="form-control"  placeholder="Add Name...">    

            <h5>ID</h5><input type="text" [(ngModel)]="company.id" name="id" class="form-control" placeholder="Add ID...">    
            
            <h5>Address</h5><input type="text" [(ngModel)]="company.address" id="addr" name="title" class="form-control" placeholder="Add Address...">  
            
            <h5>City</h5><input type="text" [(ngModel)]="company.city" name="city" class="form-control" placeholder="Add City...">  
            
            <h5>Country</h5><input type="text" [(ngModel)]="company.country" name="country" class="form-control" placeholder="Add Country...">  
            
            <h5>Email</h5><input type="text" [(ngModel)]="company.email" name="email" class="form-control" placeholder="Add Email...">  
            
            <h5>Phone</h5><input type="text" [(ngModel)]="company.phone" name="phone" class="form-control" placeholder="Add Phone...">  
                
        </div>
        <div class="col-xs-2">
                <button class="btn btn-primary" (click)="submit">Update</button> 
        </div>
    </ng-form>
        
        
</a>
 


