.company_info{
    float: left;
    margin-right: 2%;
    width: 60%;
}

.company_button{
    float: left;
    width: 35%;

}

.btn-primary{
    margin-left: 1% ;
}

.btn-danger{
    margin-left: 1% ;
}

.company_div{
    width: 100%;
}